<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common/include :: include"/>
		<script th:src="@{/static/app/js/modules/sys/userInfo.js}" src="/static/app/js/modules/sys/userInfo.js" type="text/javascript"></script>
	</head>
	<body>
		<ul class="nav nav-tabs">
			<li class="active"><a th:href="@{/sys/user/info}">个人信息</a></li>
			<li><a th:href="@{/sys/user/modifyPwd}">修改密码</a></li>
		</ul>
		<form id="inputForm" modelAttribute="user" th:action="@{/sys/user/info}" method="post" class="form-horizontal">
			<div th:include="common/message :: message(${message}, null)"></div>
			<div class="control-group">
				<label class="control-label">头像:</label>
				<div class="controls">
					<div th:include="common/file-upload:: file-upload('sys_user', ${user.id}, false, 'image', 1, false)" style="width: 30%;"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">归属机构:</label>
				<div class="controls">
					<label class="lbl" th:text="${user.office.name}"></label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">姓名:</label>
				<div class="controls">
					<input name="name" type="text" htmlEscape="false" maxlength="50" class="required" readonly="true" th:value="${user.name}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">邮箱:</label>
				<div class="controls">
					<input name="email" id="email" type="text" th:value="${user.email}" htmlEscape="false" maxlength="50" class="email"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">电话:</label>
				<div class="controls">
					<input name="phone" id="phone" type="text" th:value="${user.phone}" htmlEscape="false" maxlength="50"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">手机:</label>
				<div class="controls">
					<input name="mobile" id="mobile" type="text" th:value="${user.mobile}" htmlEscape="false" maxlength="50"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">备注:</label>
				<div class="controls">
					<textarea name="remarks" id="remarks" type="text" th:text="${user.remarks}"htmlEscape="false" rows="3" maxlength="200" class="input-xlarge"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">用户类型:</label>
				<div class="controls">
					<label class="lbl" th:text="${#common.getDictLabel(user.userType, 'sys_user_type', '无')}"></label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">用户角色:</label>
				<div class="controls">
					<label class="lbl" th:text="${user.roleNames}"></label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">上次登录:</label>
				<div class="controls">
					<label class="lbl" th:text="'IP: ' + ${user.oldLoginIp} + '&nbsp;&nbsp;&nbsp;&nbsp;时间：' + ${#common.formatDate(user.oldLoginDate, 'yyyy-MM-dd HH:mm:ss')}"></label>
				</div>
			</div>
			<div class="form-actions">
				<input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>
			</div>
		</form>
	</body>
</html>